*{
    margin: 0;padding: 0;
}
nav{
    background: #f4f4f4;
    line-height: 40px;
    height: 40px;
    
}
main{
    width: 1423px;
    margin: 0 auto;

}
nav main p{
    float: left;
}
nav main ul{
    float: left;
    color: #aaa;
    li{
        float: left;
        list-style: none; 
    }
}

.nav-2{
    padding-left: 32px;
    color:#d71d32 ;
}
.nav-3{
    padding-left: 188px;
    padding-right: 14px;
}
.yel{
    color:#86bf4a;
    a{
        color:#86bf4a ;
    }
}

.red{
    color:#d71d32;
    a{
        color:#d71d32;
    }
}

header{
    background: #fff;
    height: 110px;
    h1{
        font-style: italic;
        padding-left:470px ;
        line-height: 109px;
        float: left;
    }
}

header main form{
    width: 398px; height: 36px; 
    position: absolute;
    top: 55px;
    right:70px;
    .txt{
        width: 297px; height: 32px;
        border: solid 2px #3a3a3a; border-right: none;
        float: left;
        
        background-repeat: no-repeat;
        background-position: 452px center;
    }
    .search{
        width: 97px; height: 36px; background: #3a3a3a; border: none;
        float: left;
        color: blanchedalmond;
    }
}



header .he-gw{
    font-size:40px;
    position: absolute;
    top: 50px;
    right: 10px;
}
section{
    height: 50px;
    background: #3a3a3a;
}
section ul li{
    float: left;
    padding-right: 108px;line-height:50px ;
}

ul li a{
    color:#000
}
.ar-m{
    overflow: hidden;
    .shy{
        line-height: 30px;
    }
}

.ar-3{
    width: 1000px;height: 400px;
    background: #3a3a3a;
    float: right;
    margin-right: 200px;
}
.ar-1{
    // width: 600px;height: 600px;
    float: left;
    position: relative;
    .ar-i{
        position: relative;
        .show{
            position:absolute;
            left: 0;top: 0;
            width: 420px;height: 560px;
            
            
        }
        img:nth-child(1){
            display: block;
        }
        img:nth-child(2){
            display: none;
        }
        img:nth-child(3){
            display: none;
        }
    }
    img:nth-child(2){
        position: absolute;
        top: 0;left:430px ;
    }
    img:nth-child(3){
        position: absolute;
        top: 120px;left:430px ;
    }
    img:nth-child(4){
        position: absolute;
        top: 240px;left:430px;
    }
}

.ar-2{
    width: 600px;
    float: right;
    margin-right: 250px;
    h3{
        line-height: 60px;
    }
    .diaop{
        border-top: solid 1px #999999;
        border-bottom: solid 1px #999999;
        line-height: 60px;
        span{
            font-size: 20px;
            font-weight: 600;
            padding-right: 40px;
        }
        i{
            color:#d71d32;
            padding-left: 20px;
        }
    }
    .ar-d1 {
        p:nth-child(1){
            padding-top: 10px;
            line-height: 40px;
            span{
                display: inline-block;
                width: 50px;
                height: 30px;border: solid 1px #999999;
                margin-top: 10px;
                line-height: 30px;
                text-align: center;
            }
        }
        p:nth-child(2){
            
            line-height: 40px;
            span{
                display: inline-block;
                width: 50px;
                height: 30px;border: solid 1px #999999;
                margin-top: 10px;
                line-height: 30px;
                text-align: center;
                margin-right: 8px;
            }
        }
        p:nth-child(3){
            border-bottom: solid 1px #999999;
            line-height: 40px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            span{
                display: inline-block;
                width: 40px;
                height: 30px;border: solid 1px #999999;
                margin-top: 10px;
                line-height: 30px;
                text-align: center;
                background-color: #5c5c5c;
            }
            
        }
        p:nth-child(4){
            input{
                display:inline-block;
                width: 60px;
                height: 30px;border: solid 1px #999999;
                margin-top: 10px;
                margin-bottom: 10px;

                line-height: 30px;
                text-align: center;
                
            }
        }


        
    }
    .ar-gw{
        display: inline-block;
        width: 100px;height: 30px;
        background-color: #d71d32;
        border: none;
    }   

    .ar-sc{
        display: inline-block;
        width: 80px;height: 30px;
        border: none;
    }
    .ar-p2{
        line-height:50px;
    }
}
.as-m{
    // height: 1000px;
    border: solid 1px #999999;
    
    .as-title{
        width: 150px;height: 38px;
        border: solid 1px black;
        text-align: center;line-height: 38px;
        margin: 30px auto 45px;
    }
    ul{
        overflow: hidden;
        li{
            float: left;
            text-align: center;
            width: 33.33%;
            vertical-align: baseline;
            display: list-item;
        }
    }
    
    .as-d1{
        width: 600px;height: 100px;
        margin: 0 auto;
        border:solid 1px #999999;
        margin-top: 50px;
        margin-bottom: 20px;
        ul{
            li{
                width: 50%;
                line-height: 50px;
                .ks{
                    display: inline-block;
                    height: 10px;width: 10px;
                    border: solid 1px #999999;

                }
                .kb{
                    background: black;
                    display: inline-block;
                    height: 10px;width: 10px;
                    border: solid 1px #999999;
                }
            }
        }
    }
}
.as-d2{
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 50px;
    img{
        width: 150px;
        float: left;
    }
    
    span{
        width: 100px;
        vertical-align: center;
        float: left;
        font-size: 20px;
        line-height: 60px;
        padding-left: 50px;
        border-right: 1px solid #999999;
        margin-right: 100px;
    }
    
}
.as-p2{
    color: #d71d32;
    text-align: center;
}
.as-d3 img{
    display:block;
    margin: 0 auto;
}
footer{
    background: black;
    height: 460px;
}
.addw{
    width: 231px;
}
.addq{
    width: 468px;
}
.ft-h{
    overflow: hidden;
    line-height: 74px;
}
.ft-h p{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    float: left;
    padding-right: 72px;
    /* border-bottom: solid 1px #242424; */
}
.ft-h i{
    color: #d71d32;
    padding: 0 10px 0 7px;
}
.ft-h span{
    font-size: 30px;
}
.ft-v{
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: solid 1px #242424;
    border-bottom: solid 1px #242424;
    overflow: hidden;
}
.ft-v ul{
    float: left;
    color: #494949;
    padding-right: 142px;
}
footer .p0{
    padding-right: 0;
}
.ft-v ul li:nth-child(1){
    color: #666;
}
.ft-v ul li{
    line-height: 30px;
}
footer .img-1{
    float: left;
    padding-top: 30px;
    padding-right: 46px;
}
.a-1{
    color: #4e4e4e;
    float: left;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-1{
    color: #4e4e4e;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: solid 1px #242424;
}
.ft-l{
    overflow: hidden;

}
.ft-q{
    color: #fff;
    line-height: 55px;
    a{
        padding-left: 34px;
        color: #5c5c5c;
    }
}


i{
    font-style: normal;
    font-size: 16px;
}
.f-1{
    position: relative;
}
